body{
    margin:0;
    font-family:Arial;
    background:#0f172a;
    color:white;
}

.navbar{
    background:#020617;
    padding:15px;
    display:flex;
    justify-content:space-between;
}

.logo{
    font-size:22px;
    font-weight:bold;
}

.container{
    padding:40px;
}

.card{
    background:#1e293b;
    padding:25px;
    border-radius:10px;
    margin-bottom:20px;
}

button{
    padding:12px 20px;
    background:#38bdf8;
    border:none;
    border-radius:6px;
    color:black;
    cursor:pointer;
}

button:hover{
    background:#0ea5e9;
}